.idea
*.iml
.classpath
.project
.settings
target
target/classes
target/generated-sources
target/maven-archiver
dependency-reduced-pom.xml
src/main/resources/
src/test/
target/roadWatch-1.0-SNAPSHOT
target/maven-status